body {
	margin:0;
}

nav {
	background-color:#DE3939;
}

nav ul {
	list-style: none;
	padding: 1rem 0;
	margin: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

nav ul li {
	margin: 0.8rem 5rem;
	text-align: center;
}		

nav a {
	color: #fff;
	text-decoration: none;
	font-family: "Roboto, Arial";
	font-size: 1.2rem;
	letter-spacing: 0.3rem;
}

.info {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 0;
}

.info div {
	margin: 5rem 2rem;
}

.avatar {
	border-radius:10rem;
	border: 3px solid #DE3939;
	width: 10rem;
	height: 10rem;
	display: flex;
	justify-content: center;
	align-items:center;
}

.avatar img {
	width: 8rem;
	height: 8rem;
}

.info_texto {
	min-width: 10rem;
	padding: 0rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: left;
}

.content {
	display: flex;
	justify-content: space-around;
}
.content-center {
	background-color: #ffa3a0;
	width: 50rem;
	min-height: 50rem;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}